<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LentaWeek - каталог свежих новостей за неделю</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body>
	<div>
		<nav>
			<a href="{{ url_for('print_news') }}">Главная</a>
			<a href="{{ url_for('monday') }}">Понедельник</a>
			<a href="{{ url_for('tuesday') }}">Вторник</a>
			<a href="{{ url_for('wednesday') }}">Среда</a>
			<a href="{{ url_for('thursday') }}">Четверг</a>
			<a href="{{ url_for('friday') }}">Пятница</a>
			<a href="{{ url_for('saturday') }}">Суббота</a>
			<a href="{{ url_for('sunday') }}">Воскресенье</a>
		</nav>
	</div>
    <h1>Свежие новости на {{ date }}</h1>
	<div class="news_column">
		{% for new in news %}
		<a href="{{ new[3] }}" class="news">
			<div class="description">
				{{ new[0] }}
			</div>
			<div class="time">
				{{ new[1] }}
			</div>
		</a>
		{% endfor %}

	</div>
	
</body>
</html>