<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>{{ dates[0] }}</title>
</head>
<body>
	<header>
		<div class="title-site">
			<h1>LentaWeek</h1>
		</div>
		<div>
			<nav>
				<ul class="nav">
					<li><a href="index.html">Главная</a></li>
					<li><a href="monday.html">{{ dates[0] }}</a></li>
					<li><a href="tuesday.html">{{ dates[1] }}</a></li>
					<li><a href="wednesday.html">{{ dates[2] }}</a></li>
					<li><a href="thursday.html">{{ dates[3] }}</a></li>
					<li><a href="friday.html">{{ dates[4] }}</a></li>
					<li><a href="saturday.html">{{ dates[5] }}</a></li>
					<li><a href="sunday.html">{{ dates[6] }}</a></li>
				</ul>
			</nav>
		</div>
	</header>
    <h1>Новости за {{ dates[0] }}</h1>
	<div class="news_column">
		{% for new in news %}
		<a href="{{ new[3] }}" class="news">
			<div class="description">
				{{ new[0] }}
			</div>
			<div class="time">
				{{ new[1] }}
			</div>
		</a>
		{% endfor %}

	</div>
</body>
</html>