<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>{{ dates[6] }}</title>
</head>
<body>
    <header class="site-header">
		<div class="title-site">
			<h1>LentaWeek</h1>
		</div>
	</header>
	<div class="dates-navigation">
		<nav>
			<ul class="nav">
				<li><a href="index.html">Главная</a></li>
				<li><a href="monday.html">{{ dates[0] }}</a></li>
				<li><a href="tuesday.html">{{ dates[1] }}</a></li>
				<li><a href="wednesday.html">{{ dates[2] }}</a></li>
				<li><a href="thursday.html">{{ dates[3] }}</a></li>
				<li><a href="friday.html">{{ dates[4] }}</a></li>
				<li><a href="saturday.html">{{ dates[5] }}</a></li>
				<li><a href="sunday.html">{{ dates[6] }}</a></li>
			</ul>
		</nav>
	</div>
    <h1>Новости за {{ dates[6] }}</h1>
	<div class="news_column">
		{% for new in news %}
		<a href="{{ new[3] }}" class="news">
			<div class="description">
				{{ new[0] }}
			</div>
			<div class="time">
				{{ new[1] }}
			</div>
		</a>
		{% endfor %}

	</div>
	<script>
// Определение активной страницы
document.addEventListener('DOMContentLoaded', function() {
    const currentPage = window.location.pathname.split('/').pop();
    const links = document.querySelectorAll('.nav li a');
    
    links.forEach(link => {
        const linkPage = link.getAttribute('href');
        if (currentPage === linkPage || 
            (currentPage === '' && linkPage === 'index.html') ||
            (currentPage.includes(linkPage.replace('.html', '')))) {
            link.classList.add('active');
        }
    });
});
</script>
	<footer>
        <div class="footer-content">
            <div class="footer-links">
                <a href="mailto:mariamolkova@molkova.mail.ru" class="footer-link">Сообщить об ошибке</a>
                <a href="https://t.me/your_telegram_profile" class="footer-link">Телеграм</a>
            </div>
        </div>
    </footer>
</body>
</html>