a {
	text-decoration: none;
}
#top-news {
	font-family: 'Montserrat', sans-serif;
}


.news_column {
	font-family: 'Montserrat', sans-serif;
}

h1, nav {
	font-family: 'Karla', sans-serif;
}

.title{
	background-color: #323232;
	background-position: top;
	background-size: contain;
}